<div class="snippet-page-container">
  <ul class="side-menu sidenav sidenav-fixed shades vibrant-indigo z-depth-5" id="snippet-index-side-menu">
    <li class="">
    </li>
    <li class="side-menu-grouping">
      <h4><%= link "New Snippet", to: snippet_path(@conn, :new) %></h4>
    </li>
    <li class="side-menu-grouping">
      <h4>Filters</h4>
      <div class="filter-block" id="language-block">
        <label for="language-filter">Language</label>
        <%= select nil, :language, ["All"]++@languages, id: "language-filter-selector", name: 'language-filter'%>
      </div>
    </li>
    <li class="side-menu-grouping">
      <h4>Sorting</h3>
      <div class="sort-block" id="sort-block">
        <label for="sort-suite-selector">Type: </label>
        <select name="sort-suite-selector">
          <option value="Age">Age</option>
        </select>
        <div class="sort-sub-block" id="sorting-sub-block-age">
          <select name="age-sort">
            <option value="Newest">Newest</option>
            <option value="Oldest">Oldest</option>
          </select>
        </div>
      </div>
    </li>
  </ul>
  <div class='showcase-container'>
    <div class='snippet-container' id='snippet-container'>
      <div class="snippet-page-search-wrapper">
        <input type="text" id="search-box" placeholder="Search here..."></input>
      </div>
      <br />
      <div class="snippet-page-snippet-list" id="snippet-page-snippet-list">
        <%= render CodesioWeb.SnippetView, "snippets.html", snippets: @snippets, endpoint: @conn, user_id: @user_id %>
      </div>
    </div>
  </div>
</div>
<span id="common-js" data-main="<%= static_path(@conn, "/js/app.js") %>" />

