/* This file is for your main application css. */
@import "./materialize/components/_color-variables.scss";
@import "./materialize/components/_color-classes.scss";
@import "./materialize.scss";
@import "~codemirror/lib/codemirror";
@import "../node_modules/codemirror/theme/elegant";

.glyphicon-alert:before{content:"\e209"};
.alert{padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:4px}.alert h4{margin-top:0;color:inherit}.alert .alert-link{font-weight:700}.alert>p,.alert>ul{margin-bottom:0}.alert>p+p{margin-top:5px}.alert-dismissable,.alert-dismissible{padding-right:35px}.alert-dismissable .close,.alert-dismissible .close{position:relative;top:-2px;right:-21px;color:inherit}.alert-success{color:#3c763d;background-color:#dff0d8;border-color:#d6e9c6}.alert-success hr{border-top-color:#c9e2b3}.alert-success .alert-link{color:#2b542c}.alert-info{color:#31708f;background-color:#d9edf7;border-color:#bce8f1}.alert-info hr{border-top-color:#a6e1ec}.alert-info .alert-link{color:#245269}.alert-warning{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc}.alert-warning hr{border-top-color:#f7e1b5}.alert-warning .alert-link{color:#66512c}.alert-danger{color:#a94442;background-color:#f2dede;border-color:#ebccd1}.alert-danger hr{border-top-color:#e4b9c0}.alert-danger .alert-link{color:#843534};
.alert:empty { display: none; };

.tagify-me-text {
    border: 0;
    width: 100%;
    height: 100%;
}

.new-snippet-spacing {
    margin-top: 4%;
}
nav {
    padding: 10px 10px 10px 10px;
}
header {
    width: 100%;
}
.tagify-me-ul {
    margin-top: 8px;
    margin-bottom: 0;
    display:block;
    text-decoration: none;
    color: rgb(5, 120, 175);
    margin-left: 3px;
    padding:0px;
}
.side-menu {
    color: #eee;
}

.side-menu-grouping  {
    padding: 0 32px 0px 32px;
}

.tagify-me-li {
    background-color: color("shades", "vibrant-indigo");
    color: #eeeeee;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.12),
    0 1px 5px 0 rgba(0,0,0,0.2);
}
.tagify-me-li > a {
    color: #eee;
}
.user-page-index-container {
    width: 70%;
    margin: 0 auto;
}
.user-page-table-row {
}
.snippet-container {
    margin-left: 1%;
    flex: 1 0;
}
.sp-rating {
    color: #eee;
    padding-right: 4px;
}
div.register-or-signin-container {
    width: 50%;
    margin: 0 auto;
    transform: translateY(50%);
    padding: 30px 30px 30px 30px;
}
div.register {
    margin-top: -10%;
}

div.snippet-page-snippet-list {
    min-width: 0px;
    // background-color: #efefef;
}
div.snippet-page-container {
    margin-top: 3%;
    width: 100%;
    height: 100%;
}
.snippet-area-container {
    // min-width: 0px;
    // padding: 15px 15px 15px 15px;
    width: 460px;
}
.snippet-page-snippet-actions {
    padding: {
        left: 15px;
        right: 15px;
    }
    width: 100%;
    height: 20%;
    display: block;
}
.snippet-page-snippet-links {
    float: left;
    margin: {
        left: 2px;
        right: 2px;
    }
}
.sorting-subblock-hidden {
    display: none;
}

.btn-default {
    color: white !important;
}

.sidenav {
    width: 350px;
}

#app-container {
    width: 100%;
    max-width: 2000px;
    position: relative;
}

.showcase-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: space-around;
    min-width: 0px;
    margin-left: 350px
}

.logo {
    width: 288px;
    height: 48px;
    display: inline-block;
    margin-bottom: 1em;
    margin-top: 5px;
    background-image: url("/images/snippy-white.png");
    background-size: 288px 48px;
}

.logo-container {
    background-color: #000;
    margin-left: 0;
    padding-left: 0;
}
.nav-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}
div.snippet-page-search-wrapper {
    margin-top: 0%;
    margin-bottom: 2%;
    width: 100%;
    text-align: center;
}

input#search-box {
    width: 80%;
}

img.vote {
    width: 35px;
    cursor: pointer;
}

span.vote-container {
    float: right;
}

li.user-snippets-sample-list {
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    justify-content: center;
    background-color: #fff;
    padding: {
        top: 2px;
        bottom: 2px;
    }
}
div.user-snippet {
    margin: {
        bottom: 10px;
    }
    margin-bottom: 40px;
    height: 80px;
}

h4#user-profile-snippet-title {
    margin: {
        bottom: 20px;
    }
}

div.user-page-show-profile {
    color: #fff;
    padding: {
        top: 3px;
        left: 30px;
    }
    font-size: 1.5em;
    width: 40%;
    // margin: 0 auto;
}

td.tag-list {
    padding: {
        left: 10px;
        right: 10px;
        top: 2px;
        bottom: 2px;
    }
    color: #eee;
}

li.user-snippets-sample-list > *:not(.btn) {
    width: 33%;
}
li.snippet-page-show-tag-li {
    float: left;
    padding: {
        left: 10px;
        right: 10px;
        top: 8px;
        bottom: 8px;
    }
    margin: {
        left: 2px;
        right: 2px;
    }
}
.dropdown-trigger {
    color: #eee;
}
ul.user-page-index-pagination {
    transform: translateX(100%)
}
ul.snippet-page-show-tags {
    color: #eee;
    font-size: 1.2em;
}
div.snippet-page-edit-show-new-single-container {
    padding: {
        left: 30px;
        right: 30px;
        top: 5px;
    }
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
}
div.user-page-show-container {
    padding: {
        left: 20px;
        right: 20px;
    }
}
