<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Think of Snippy as an instagram for code snippets. Submit snippets, vote on them and 
    find the snippets most useful for what you are working on.">
    <meta name="author" content="Ian T Butler">
    <meta name="user-token" content="<%= assigns[:user_token] %>">
    <title>It looks like you're trying to find some code.</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="<%=conditional_classes_for_body(@conn, @view_template)%>" data-js-view-name="<%= js_view_name(@conn, @view_template) %>">
      <header class="header">
        <nav role="navigation">
          <div class="nav-wrapper">
            <ul id="nav-mobile" class="right high-on-med-and-down">
              <%= if Coherence.current_user_name(@conn) == nil do %>
                <li><a href="/sessions/new">Login</a></li>
              <% else %>
                <li>Job's Saved: <%= @user_score %></li>
                <li><%= link "Users", to: user_path(@conn, :index) %></li>
                <li><%= link "My Profile", to: user_path(@conn, :show, Coherence.current_user(@conn).username) %></li>
                <li><%= CodesioWeb.Coherence.ViewHelpers.signout_link(@conn) %></li>
              <% end %>
              <%# <li><a href="http://www.phoenixframework.org/docs">Donate</a></li> %>
            </ul>
          </div>
        </nav>
      </header>
      <div class="container" id="app-container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <div class='sub-container' >
        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
